lib/
*.exe
*.o
*.ppu
*.compiled
*.res
*.lps
*.dbg
/dist/
/laserpcb/src/app/laserpcb_layout
/laserpcb/tests/test_alignment
/laserpcb/tests/test_calibration_matrix
/laserpcb/tests/test_job
/laserpcb/tests/test_layout
/multicam/src/app/multicam_simulator
/multicam/tests/test_pcb_heightmap
/multicam/tests/test_pcb_outside_heightmap
/multicam/tests/test_pcb_segmented_heightmap
/multicam/tests/test_profile
/multipcb/src/app/multipcb_cnc_position
/multipcb/tests/test_cnc_alignment
/multipcb/tests/test_heightmap
/multipcb/tests/test_routing
/multipcb/tests/test_zcompensation
/multislicer/src/app/multislicer_position
/multislicer/tests/test_layout3d
/tests/test_simulator

# instaladores publicados
!/releases/**
